body {
    background: linear-gradient(-45deg, #f4f6f6, #f2f4f4, #f2f4f4, #fef9e7);
    background-size: 400% 400%;
    animation: gradient 13s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#wrapper {
    margin: auto;
    width: 80%;
    padding: 10px;
}

/*#content {*/
/*    float: left;*/
/*    position: relative;*/
/*    left: -50%;*/
/*}*/

h1 {
    font-family: serif;
}

#page-title {
    font-family: sans-serif;
}

.title {
    font-family: monospace;
}

.paragraph {
    font-family: monospace;
}

.nav {
    font-family: monospace;
}

div.gallery {
    margin: 5px;
    width: 180px;
    float: left;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


