body {
    background: linear-gradient(-45deg, #f4f6f6, #f2f4f4, #f2f4f4, #fef9e7);
    background-size: 400% 400%;
    animation: gradient 13s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#wrapper {
    margin: auto;
    width: 80%;
    padding: 5px;
    font-family: sans-serif;
}

#page-title {
    font-family: sans-serif;
    padding-left: 7px;
}

.title {
    font-family: sans-serif;
}

.top-bar {
    font-family: sans-serif;
    position:fixed;
    top:0;
    width: 80%;
    padding: 7px;
    color:  white;
    display: block;
    background-color: #141212;
}

.top-bar a {
    font-family: sans-serif;
    color:  white;
    display: block;
    background-color: #141212;
}

.nav {
    font-family: sans-serif;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #141212;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #ccc8d1;
    color: black;
}

.menu li a.active {
    background-color: #e2e2e2;
    color: black;
}

.content {
    margin-top: 120px;
    float: left;
    position: fixed;
    width: 80%;
}

.bottom-bar {
    position: fixed;
    margin: 0 auto;
    display: block;
    background-color: #141212;
    color: #f2f2f2;
    text-align: right;
    padding: 7px;
    overflow: hidden;
    bottom: 0;
    width: 80%;
}
